main > div {
  border: 0.5px solid #DDD;
  border-radius: 15px;
}

header h1, header p {
  margin: 0;
}

.calories-list-item {
  position: relative;
}

.delete-button, .edit-button {
  position: absolute;
  right: 0;
  margin: 5px 5px;
}

.delete-button{
  bottom: 0;
}

.edit-button {
  top: 0;
}